.recents__wrapper {
    margin-bottom: 20px;

    h2 {
        color: #1A1A1A;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 32px;

        @media screen and (min-width: 770px) {
            font-size: 32px;
        }
    }

    .blogs__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;

        padding-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.34);

        @media screen and (min-width: 770px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}