.blogs__wrapper {
    display: flex;
    column-gap: 24px;
    flex-direction: column;

    aside {
        width: 100%;
        margin-bottom: 20px;

        position: sticky;
        top: 0px;
        background-color: white;
        z-index: 1;
        padding: 20px;
        height: fit-content;

        select {
            border: none;
            outline: none;
            background-color: #ececec;
            padding: 8px 12px 8px 12px;
            border-radius: 4px;
        }
    }

    .pagination__parent {
        width: 100%;
    }

    @media screen and (min-width: 770px) {
        flex-direction: row;

        aside {
            width: 15%;
            padding: 0;
            top: 20px;
            background-color: transparent;
        }

        .pagination__parent {
            width: 85%;
        }
    }
}